http:
  services:
    traefik:
      loadBalancer:
        servers:
          - url: http://traefik:8080
  routers:
    traefik:
      rule: Host(`traefik.{{ env "DOMAIN" }}`)
      service: traefik
{{- if (eq (env "TLS_PROVIDER") "letsencrypt") }}
      tls:
        certResolver: letsencrypt
{{- else if (eq (env "URI_SCHEME") "https") }}
      tls: {}
{{- end }}
