
.env
docker-compose.override.yml
./drupal/rootfs/var/www/drupal/vendor
./drupal/rootfs/var/www/drupal/web/core
./drupal/rootfs/var/www/drupal/web/modules/contrib
./drupal/rootfs/var/www/drupal/web/themes/contrib
