---
# Common to all services
x-common: &common
  restart: unless-stopped
  tty: true # Required for non-root users with selinux enabled.
  security_opt:
    - label=type:container_runtime_t # Required for selinux to access the docker socket and bind mount files.
  networks:
    default:
networks:
  default:

volumes:
  acme-data: {}
  activemq-data: {}
  blazegraph-data: {}
  cantaloupe-data: {}
  drupal-private-files: {}
  drupal-public-files: {}
  drupal-solr-config: {}
  fcrepo-data: {}
  mariadb-data: {}
  solr-data: {}

secrets:
  # Certificates are only used for development environments.
  CERT_PUBLIC_KEY:
    file: ./certs/cert.pem
  CERT_PRIVATE_KEY:
    file: ./certs/privkey.pem
  CERT_AUTHORITY:
    file: ./certs/rootCA.pem
  UID:
    file: ./certs/UID
  # Production secrets:
  ACTIVEMQ_PASSWORD:
    file: "./secrets/ACTIVEMQ_PASSWORD"
  ACTIVEMQ_WEB_ADMIN_PASSWORD:
    file: "./secrets/ACTIVEMQ_WEB_ADMIN_PASSWORD"
  ALPACA_JMS_PASSWORD:
    file: "./secrets/ACTIVEMQ_PASSWORD"
  DB_ROOT_PASSWORD:
    file: "./secrets/DB_ROOT_PASSWORD"
  DRUPAL_DEFAULT_ACCOUNT_PASSWORD:
    file: "./secrets/DRUPAL_DEFAULT_ACCOUNT_PASSWORD"
  DRUPAL_DEFAULT_DB_PASSWORD:
    file: "./secrets/DRUPAL_DEFAULT_DB_PASSWORD"
  DRUPAL_DEFAULT_SALT:
    file: "./secrets/DRUPAL_DEFAULT_SALT"
  FCREPO_DB_PASSWORD:
    file: "./secrets/FCREPO_DB_PASSWORD"
  JWT_ADMIN_TOKEN:
    file: "./secrets/JWT_ADMIN_TOKEN"
  JWT_PUBLIC_KEY:
    file: "./secrets/JWT_PUBLIC_KEY"
  JWT_PRIVATE_KEY:
    file: "./secrets/JWT_PRIVATE_KEY"

services:
  init:
    image: islandora/base:${ISLANDORA_TAG}
    restart: no
    networks:
      default:
    volumes:
      - ./.env:/.env
      - ./certs:/certs:rw
      - ./secrets:/secrets:rw
      - ./scripts:/scripts:ro
      - ./docker-compose.yml:/docker-compose.yml:ro
      - ./drupal:/drupal:rw
      - /var/run/docker.sock:/var/run/docker.sock:z
    security_opt:
      - label=type:container_runtime_t
    entrypoint: /scripts/init-entrypoint.sh
    profiles: [none]

  alpaca:
    <<: *common
    image: islandora/alpaca:${ISLANDORA_TAG}
    secrets:
      - source: ALPACA_JMS_PASSWORD
    depends_on:
      activemq:
        condition: service_healthy

  crayfits:
    <<: *common
    image: islandora/crayfits:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  fits:
    <<: *common
    image: islandora/fits:${ISLANDORA_TAG}

  homarus:
    <<: *common
    image: islandora/homarus:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  houdini:
    <<: *common
    image: islandora/houdini:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  hypercube:
    <<: *common
    image: islandora/hypercube:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  mariadb:
    <<: *common
    image: islandora/mariadb:${ISLANDORA_TAG}
    secrets:
      - source: DB_ROOT_PASSWORD
    volumes:
      - mariadb-data:/var/lib/mysql:rw

  milliner:
    <<: *common
    image: islandora/milliner:${ISLANDORA_TAG}
    environment:
      MILLINER_FEDORA6: true
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  activemq:
    <<: *common
    image: islandora/activemq:${ISLANDORA_TAG}
    secrets:
      - source: ACTIVEMQ_PASSWORD
      - source: ACTIVEMQ_WEB_ADMIN_PASSWORD
    volumes:
      - activemq-data:/opt/activemq/data:rw

  blazegraph:
    <<: *common
    image: islandora/blazegraph:${ISLANDORA_TAG}
    volumes:
      - blazegraph-data:/data:rw

  cantaloupe:
    <<: *common
    image: islandora/cantaloupe:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
    volumes:
      - cantaloupe-data:/data:rw

  drupal:
    <<: *common
    image: ${REPOSITORY}/${COMPOSE_PROJECT_NAME}:${TAG}
    build:
      context: ./drupal
      args:
        REPOSITORY: islandora
        TAG: ${ISLANDORA_TAG}
      x-bake:
        platforms: [linux/amd64, linux/arm64]
        cache-from:
          - type=registry,ref=${REPOSITORY}/${COMPOSE_PROJECT_NAME}:${TAG}
          - type=registry,ref=${REPOSITORY}/${COMPOSE_PROJECT_NAME}:latest
        cache-to:
          - type=inline
    environment:
      DEVELOPMENT_ENVIRONMENT: ${DEVELOPMENT_ENVIRONMENT:-false}
      DRUPAL_DEFAULT_BROKER_URL: "tcp://activemq:61613"
      DRUPAL_DEFAULT_CANTALOUPE_URL: "${URI_SCHEME}://${DOMAIN}/cantaloupe/iiif/2"
      DRUPAL_DEFAULT_CONFIGDIR: "/var/www/drupal/config/sync"
      DRUPAL_DEFAULT_FCREPO_HOST: "fcrepo"
      DRUPAL_DEFAULT_FCREPO_PORT: 8080
      DRUPAL_DEFAULT_FCREPO_URL: "${URI_SCHEME}://fcrepo.${DOMAIN}/fcrepo/rest/"
      DRUPAL_DEFAULT_INSTALL_EXISTING_CONFIG: "true"
      DRUPAL_DEFAULT_NAME: "Islandora Digital Collections"
      DRUPAL_DEFAULT_PROFILE: "minimal"
      DRUPAL_DEFAULT_SITE_URL: "${DOMAIN}"
      DRUPAL_DEFAULT_SOLR_CORE: "default"
      DRUSH_OPTIONS_URI: "${URI_SCHEME}://${DOMAIN}"
      NGINX_REAL_IP_RECURSIVE: ${REVERSE_PROXY}
      NGINX_SET_REAL_IP_FROM: ${FRONTEND_IP_1}
      NGINX_SET_REAL_IP_FROM2: ${FRONTEND_IP_2}
      NGINX_SET_REAL_IP_FROM3: ${FRONTEND_IP_3}
      DRUPAL_ENABLE_HTTPS: "false"
    healthcheck:
      start_period: 10s
    secrets:
      - source: DB_ROOT_PASSWORD
      - source: DRUPAL_DEFAULT_ACCOUNT_PASSWORD
      - source: DRUPAL_DEFAULT_DB_PASSWORD
      - source: DRUPAL_DEFAULT_SALT
      - source: JWT_PRIVATE_KEY
      - source: JWT_PUBLIC_KEY
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
    volumes:
      - type: volume
        source: drupal-public-files
        target: /var/www/drupal/web/sites/default/files
        read_only: false
      - type: volume
        source: drupal-private-files
        target: /var/www/drupal/private
        read_only: false
      - drupal-solr-config:/opt/solr/server/solr/default:z,rw

  fcrepo:
    <<: *common
    image: islandora/fcrepo6:${ISLANDORA_TAG}
    environment:
      FCREPO_ALLOW_EXTERNAL_DEFAULT: "http://default/"
      FCREPO_ALLOW_EXTERNAL_DRUPAL: "${URI_SCHEME}://${DOMAIN}/"
      FCREPO_PERSISTENCE_TYPE: "mysql"
      DB_HOST: mariadb
      DB_PORT: 3306
    secrets:
      - source: DB_ROOT_PASSWORD
      - source: FCREPO_DB_PASSWORD
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY
    volumes:
      - fcrepo-data:/data:rw
    depends_on:
      activemq:
        condition: service_healthy

  solr:
    <<: *common
    image: islandora/solr:${ISLANDORA_TAG}
    volumes:
      - solr-data:/data:rw
      - type: volume
        source: drupal-solr-config
        target: /opt/solr/server/solr/default
        read_only: false
        volume:
          nocopy: true
    depends_on:
      drupal:
        condition: service_healthy

  traefik:
    <<: *common
    image: traefik:v3.6.5@sha256:2979bff651c98e70345dd886186a7a15ee3ce18b636af208d4ccbf2d56dbdddd
    command: >-
      --ping=true
      --log.level=INFO
      --entryPoints.http.address=:80
      --entryPoints.http.transport.respondingTimeouts.readTimeout=60
      --entryPoints.https.address=:443
      --entryPoints.https.transport.respondingTimeouts.readTimeout=60
      --entryPoints.http.forwardedHeaders.trustedIPs=${FRONTEND_IP_1},${FRONTEND_IP_2},${FRONTEND_IP_3}
      --entryPoints.https.forwardedHeaders.trustedIPs=${FRONTEND_IP_1},${FRONTEND_IP_2},${FRONTEND_IP_3}
      --providers.file.directory=/etc/traefik/dynamic
      --providers.docker=true
      --providers.docker.network=default
      --providers.docker.exposedByDefault=false
      --api.insecure=${DEVELOPMENT_ENVIRONMENT:-false}
      --api.dashboard=${DEVELOPMENT_ENVIRONMENT:-false}
      --api.debug=${DEVELOPMENT_ENVIRONMENT:-false}
    environment:
      TLS_PROVIDER: "${TLS_PROVIDER:-self-managed}"
      URI_SCHEME: "${URI_SCHEME:-http}"
      DEVELOPMENT_ENVIRONMENT: "${DEVELOPMENT_ENVIRONMENT:-false}"
      DOMAIN: ${DOMAIN}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_PRIVATE_KEY
    ports:
      - "${HOST_INSECURE_PORT:-80}:80"
      - "${HOST_SECURE_PORT:-443}:443"
    security_opt:
      - label=type:container_runtime_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/traefik:/etc/traefik/dynamic:ro
      - acme-data:/acme:rw
    healthcheck:
      test: traefik healthcheck --ping
      start_period: 10s
    networks:
      default:
        aliases:
          - activemq.${DOMAIN}
          - blazegraph.${DOMAIN}
          - fcrepo.${DOMAIN}
          - ${DOMAIN}
          - solr.${DOMAIN}
    depends_on:
      drupal:
        condition: service_healthy
