---
# Common to all services
x-common: &common
  restart: unless-stopped
  tty: true # Required for non-root users with selinux enabled.
  security_opt:
    - label=type:container_runtime_t # Required for selinux to access the docker socket and bind mount files.
  networks:
    default:
networks:
  default:

volumes:
  acme-data: {}
  activemq-data: {}
  blazegraph-data: {}
  cantaloupe-data: {}
  drupal-private-files: {}
  drupal-public-files: {}
  drupal-solr-config: {}
  fcrepo-data: {}
  mariadb-data: {}
  solr-data: {}

secrets:
  # Certificates are only used for development environments.
  CERT_PUBLIC_KEY:
    file: ./certs/cert.pem
  CERT_PRIVATE_KEY:
    file: ./certs/privkey.pem
  CERT_AUTHORITY:
    file: ./certs/rootCA.pem
  UID:
    file: ./certs/UID
  # Production secrets:
  ACTIVEMQ_PASSWORD:
    file: "./secrets/ACTIVEMQ_PASSWORD"
  ACTIVEMQ_WEB_ADMIN_PASSWORD:
    file: "./secrets/ACTIVEMQ_WEB_ADMIN_PASSWORD"
  ALPACA_JMS_PASSWORD:
    file: "./secrets/ACTIVEMQ_PASSWORD"
  DB_ROOT_PASSWORD:
    file: "./secrets/DB_ROOT_PASSWORD"
  DRUPAL_DEFAULT_ACCOUNT_PASSWORD:
    file: "./secrets/DRUPAL_DEFAULT_ACCOUNT_PASSWORD"
  DRUPAL_DEFAULT_DB_PASSWORD:
    file: "./secrets/DRUPAL_DEFAULT_DB_PASSWORD"
  DRUPAL_DEFAULT_SALT:
    file: "./secrets/DRUPAL_DEFAULT_SALT"
  FCREPO_DB_PASSWORD:
    file: "./secrets/FCREPO_DB_PASSWORD"
  JWT_ADMIN_TOKEN:
    file: "./secrets/JWT_ADMIN_TOKEN"
  JWT_PUBLIC_KEY:
    file: "./secrets/JWT_PUBLIC_KEY"
  JWT_PRIVATE_KEY:
    file: "./secrets/JWT_PRIVATE_KEY"

services:
  activemq:
    <<: *common
    image: islandora/activemq:${ISLANDORA_TAG}
    secrets:
      - source: ACTIVEMQ_PASSWORD
      - source: ACTIVEMQ_WEB_ADMIN_PASSWORD
    volumes:
      - activemq-data:/opt/activemq/data:rw

  alpaca:
    <<: *common
    depends_on:
      activemq:
        condition: service_healthy
    image: islandora/alpaca:${ISLANDORA_TAG}
    secrets:
      - source: ALPACA_JMS_PASSWORD

  blazegraph:
    <<: *common
    image: islandora/blazegraph:${ISLANDORA_TAG}
    volumes:
      - blazegraph-data:/data:rw

  cantaloupe:
    <<: *common
    image: islandora/cantaloupe:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
    volumes:
      - cantaloupe-data:/data:rw

  crayfits:
    <<: *common
    image: islandora/crayfits:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  drupal:
    <<: *common
    build:
      args:
        REPOSITORY: islandora
        TAG: ${ISLANDORA_TAG}
      context: ./drupal
      x-bake:
        cache-from:
          - type=registry,ref=${REPOSITORY}/${COMPOSE_PROJECT_NAME}:${TAG}
          - type=registry,ref=${REPOSITORY}/${COMPOSE_PROJECT_NAME}:latest
        cache-to:
          - type=inline
        platforms:
          - linux/amd64
          - linux/arm64
    environment:
      DEVELOPMENT_ENVIRONMENT: ${DEVELOPMENT_ENVIRONMENT:-false}
      DRUPAL_DEFAULT_BROKER_URL: tcp://activemq:61613
      DRUPAL_DEFAULT_CANTALOUPE_URL: ${URI_SCHEME}://${DOMAIN}/cantaloupe/iiif/2
      DRUPAL_DEFAULT_CONFIGDIR: /var/www/drupal/config/sync
      DRUPAL_DEFAULT_FCREPO_HOST: fcrepo
      DRUPAL_DEFAULT_FCREPO_PORT: 8080
      DRUPAL_DEFAULT_FCREPO_URL: ${URI_SCHEME}://fcrepo.${DOMAIN}/fcrepo/rest/
      DRUPAL_DEFAULT_INSTALL_EXISTING_CONFIG: "true"
      DRUPAL_DEFAULT_NAME: Islandora Digital Collections
      DRUPAL_DEFAULT_PROFILE: minimal
      DRUPAL_DEFAULT_SITE_URL: ${DOMAIN}
      DRUPAL_DEFAULT_SOLR_CORE: default
      DRUPAL_ENABLE_HTTPS: "false"
      DRUSH_OPTIONS_URI: ${URI_SCHEME}://${DOMAIN}
      NGINX_REAL_IP_RECURSIVE: ${REVERSE_PROXY}
      NGINX_SET_REAL_IP_FROM: ${FRONTEND_IP_1}
      NGINX_SET_REAL_IP_FROM2: ${FRONTEND_IP_2}
      NGINX_SET_REAL_IP_FROM3: ${FRONTEND_IP_3}
    healthcheck:
      start_period: ${DRUPAL_HEALTHCHECK_START_PERIOD:-0s}
      retries: ${DRUPAL_HEALTHCHECK_RETRIES:-3}
    image: ${REPOSITORY}/${COMPOSE_PROJECT_NAME}:${TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: UID
      - source: DB_ROOT_PASSWORD
      - source: DRUPAL_DEFAULT_ACCOUNT_PASSWORD
      - source: DRUPAL_DEFAULT_DB_PASSWORD
      - source: DRUPAL_DEFAULT_SALT
      - source: JWT_PRIVATE_KEY
      - source: JWT_PUBLIC_KEY
    volumes:
      - read_only: false
        source: drupal-public-files
        target: /var/www/drupal/web/sites/default/files
        type: volume
      - read_only: false
        source: drupal-private-files
        target: /var/www/drupal/private
        type: volume
      - drupal-solr-config:/opt/solr/server/solr/default:z,rw

  fcrepo:
    <<: *common
    depends_on:
      activemq:
        condition: service_healthy
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      FCREPO_ALLOW_EXTERNAL_DEFAULT: http://default/
      FCREPO_ALLOW_EXTERNAL_DRUPAL: https://${DOMAIN}/
      FCREPO_PERSISTENCE_TYPE: mysql
    image: islandora/fcrepo6:${ISLANDORA_TAG}
    secrets:
      - source: DB_ROOT_PASSWORD
      - source: FCREPO_DB_PASSWORD
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY
    volumes:
      - fcrepo-data:/data:rw

  fits:
    <<: *common
    image: islandora/fits:${ISLANDORA_TAG}

  homarus:
    <<: *common
    image: islandora/homarus:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  houdini:
    <<: *common
    image: islandora/houdini:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  hypercube:
    <<: *common
    image: islandora/hypercube:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  init:
    entrypoint: /scripts/init-entrypoint.sh
    image: islandora/base:${ISLANDORA_TAG}
    networks:
      default:
    profiles:
      - none
    restart: "no"
    security_opt:
      - label=type:container_runtime_t
    volumes:
      - ./.env:/.env
      - ./certs:/certs:rw
      - ./secrets:/secrets:rw
      - ./scripts:/scripts:ro
      - ./docker-compose.yml:/docker-compose.yml:ro
      - ./drupal:/drupal:rw
      - /var/run/docker.sock:/var/run/docker.sock:z

  mariadb:
    <<: *common
    image: islandora/mariadb:${ISLANDORA_TAG}
    secrets:
      - source: DB_ROOT_PASSWORD
    volumes:
      - mariadb-data:/var/lib/mysql:rw

  mergepdf:
    image: islandora/mergepdf:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  milliner:
    <<: *common
    environment:
      MILLINER_FEDORA6: true
    image: islandora/milliner:${ISLANDORA_TAG}
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_AUTHORITY
      - source: JWT_ADMIN_TOKEN
      - source: JWT_PUBLIC_KEY

  solr:
    <<: *common
    depends_on:
      drupal:
        condition: service_healthy
    image: islandora/solr:${ISLANDORA_TAG}
    volumes:
      - solr-data:/data:rw
      - read_only: false
        source: drupal-solr-config
        target: /opt/solr/server/solr/default
        type: volume
        volume:
          nocopy: true

  traefik:
    <<: *common
    command: >-
      --ping=true
      --log.level=INFO
      --entryPoints.http.address=:80
      --entryPoints.http.forwardedHeaders.trustedIPs=${FRONTEND_IP_1},${FRONTEND_IP_2},${FRONTEND_IP_3}
      --entryPoints.http.http.encodedCharacters.allowEncodedSlash=true
      --entryPoints.http.http.encodedCharacters.allowEncodedPercent=true
      --entryPoints.http.http.encodedCharacters.allowEncodedQuestionMark=true
      --entryPoints.http.http.encodedCharacters.allowEncodedHash=true
      --entryPoints.http.transport.respondingTimeouts.readTimeout=60
      --entryPoints.https.address=:443
      --entryPoints.https.forwardedHeaders.trustedIPs=${FRONTEND_IP_1},${FRONTEND_IP_2},${FRONTEND_IP_3}
      --entryPoints.https.http.encodedCharacters.allowEncodedSlash=true
      --entryPoints.https.http.encodedCharacters.allowEncodedPercent=true
      --entryPoints.https.http.encodedCharacters.allowEncodedQuestionMark=true
      --entryPoints.https.http.encodedCharacters.allowEncodedHash=true
      --entryPoints.https.transport.respondingTimeouts.readTimeout=60
      --providers.file.directory=/etc/traefik/dynamic
      --providers.docker=true
      --providers.docker.network=default
      --providers.docker.exposedByDefault=false
      --api.insecure=${DEVELOPMENT_ENVIRONMENT:-false}
      --api.dashboard=${DEVELOPMENT_ENVIRONMENT:-false}
      --api.debug=${DEVELOPMENT_ENVIRONMENT:-false}
    depends_on:
      drupal:
        condition: service_healthy
    environment:
      DEVELOPMENT_ENVIRONMENT: ${DEVELOPMENT_ENVIRONMENT:-false}
      DOMAIN: ${DOMAIN}
      TLS_PROVIDER: ${TLS_PROVIDER:-self-managed}
      URI_SCHEME: ${URI_SCHEME:-http}
    healthcheck:
      start_period: 10s
      test: traefik healthcheck --ping
    image: traefik:v3.6.6@sha256:2979bff651c98e70345dd886186a7a15ee3ce18b636af208d4ccbf2d56dbdddd
    networks:
      default:
        aliases:
          - activemq.${DOMAIN}
          - blazegraph.${DOMAIN}
          - fcrepo.${DOMAIN}
          - ${DOMAIN}
          - solr.${DOMAIN}
    ports:
      - ${HOST_INSECURE_PORT:-80}:80
      - ${HOST_SECURE_PORT:-443}:443
    secrets:
      - source: CERT_PUBLIC_KEY
      - source: CERT_PRIVATE_KEY
    security_opt:
      - label=type:container_runtime_t
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - ./conf/traefik:/etc/traefik/dynamic:ro
      - acme-data:/acme:rw

