http:
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true

    cantaloupe-strip-prefix:
      stripPrefix:
        prefixes:
          - /cantaloupe

    cantaloupe-custom-request-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Path: /cantaloupe

    cantaloupe:
      chain:
        middlewares:
          - cantaloupe-strip-prefix
          - cantaloupe-custom-request-headers

    fcrepo-strip-suffix:
      replacePathRegex:
        regex: "^(.*/fcrepo/rest/[^.]*)/fcr:metadata$"
        replacement: "$1"
